name: Lint Code Base

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Load Super Linter Environment Variables into GITHUB_ENV
        run: |
          grep -v '^\\(#.*\\|\\s\\?\\)$' .github/super-linter.env >> "${GITHUB_ENV}"

      - name: GitHub Super Linter
        uses: super-linter/super-linter/slim@v8
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  api-linter:
    name: API Linter
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Run API Linter
        uses: googleapis/api-linter@v2.2.0
        with:
          # Lint all proto files in the specification/grpc directory
          proto-path: specification/grpc
          # Use the api-linter configuration file
          config-path: specification/grpc/.api-linter.yaml
